body{
    background-image: url(./assets/spacex-img.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.card-customized{
    background-color:rgba(34, 64, 124, 0.6);
    border: 1px solid rgb(202, 177, 85);
    border-radius: .8rem;
    color: #fff;
    filter:brightness(.7);
    z-index: 2;
}

/*btn upcoming launches and */
.btn-custom{
    background-color: white;
    border-radius: .3rem;
    color: #000;
    text-decoration: none;
    padding: .5rem 4rem;
    cursor: pointer!important;
}

@media (min-width: 768px){
    .btn-custom{
        padding: .5rem 2rem;
    }
}
